body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.menu-bar {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1000; /* Ensure it appears above other elements */
    padding: 10px; /* Increase clickable area by adding padding */
}

.line {
    width: 30px;
    height: 3px;
    background-color: #333; /* Color of the lines */
    margin: 6px 0;
}

.menu-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu-box.active {
    display: block;
}

.content-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

/* Position icons in the bottom right corner */
.bottom-right-icons {
    position: fixed;
    bottom: 10px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Style for each icon */
.bottom-right-icons a {
    margin-bottom: 10px; /* Adjust spacing between icons */
}

.bottom-right-icons img {
    width: 40px; /* Initial width */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

/* Expand on hover */
.bottom-right-icons img.expand-on-hover:hover {
    transform: scale(2); /* Expand to twice the size on hover */
}
